---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Modern Websites</h2>
		<p>I build fast, modern websites using tools like Astro and WordPress. Whether it's a custom front-end or a flexible CMS setup, I focus on performance, usability, and scalability. I can work with existing themes or use WordPress as a headless CMS to give clients an easier way to manage content.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Detail Oriented</h2>
		<p>I bring precision to both code and user experience. That means semantic HTML, accessible interfaces, optimized assets, and thoughtful responsiveness. Whether it's maintaining design consistency or ensuring performance, I focus on the small things that make a big impact.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>I care about the why behind every feature. I ask smart questions, align with goals, and help shape products that are not just usable — but purposeful. Every decision should serve the bigger picture.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
